/* Global */
@import url('https://fonts.cdnfonts.com/css/made-tommy-outline');
@import url('https://fonts.cdnfonts.com/css/merienda');
@import url('https://fonts.cdnfonts.com/css/just-another-hand');
@import url('https://fonts.cdnfonts.com/css/cookies-2');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'MADE TOMMY', sans-serif;
  /* font-family: 'Merienda', sans-serif; */
  /* font-family: 'Just Another Hand', sans-serif; */
  /* font-family: 'Cookies bold', sans-serif; */
                                                
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background: #171515;
}

.maxWidth {
  max-width: 1420px;
  margin: auto;
}

.body {
  max-width: 100vw;
}
.container {
  position: relative;
  min-height: 100vh;
  /* background: #171515; */
}

a{
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.orbe1{
  position: absolute;
  top: 40vh;
  right: -20vh;
  box-sizing: border-box;
  position: absolute;
  width: 50vh;
  height: 50vh;
  background: #06F8CC;
  filter: blur(30vh);
  transform: rotate(0.82deg);
  
}
.orbe2 {
  position: absolute;
  width: 35vh;
  height: 37vh;
  left: 50%;
  top: 6%;
  background: #1C84E5;
  filter: blur(499.5px);
}
.orbe3 {
  position: absolute;
  width: 298px;
  height: 299px;
  left: 6vh;
  top: 14vh;
  background: #1C84E5;
  filter: blur(700.5px);
}

/* Mode light */
#light p, 
#light small, 
#light a {
  color:#171515;
}

#light {
  background: #fff;
  animation: light 2s ease-in;
}

#dark {
  background: #171515;
  animation: dark 1s ease-in;
}


#dark a {
  color: inherit;
}

#light .oblique {
  margin-left: 1px;
  border:1px solid;
  color: #171515;
  animation-name: fade-oblique;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
}


/* Navbar */

header{
  position: sticky;
  z-index: 30;
  top: 0;
}

nav{
  display: flex;
  padding: 16px;
  padding-left: 32px;
  padding-right: 52px;
  justify-content: space-between;
  align-items: center;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 150px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 1rem; 
  font-weight: 500;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 color: rgb(233, 228, 228);
}



/* Breadcrumb */
.oblique {
  margin-left: 1px;
  border:1px solid;
  animation-name: fade-oblique;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
}


.breadcrumb > a > h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.breadcrumb > a > h1:hover {
  text-decoration: underline;
  color:rgb(111, 184, 243);
  animation-name: fade-oblique;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
}

/* Media queries */
@media screen and (max-width: 768px) {
  nav{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
  }
  .nav__menu-list{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 150px;
    row-gap: 24px;
    right: -288px;
    padding: 24px 16px;
    transition: all 0.2s;
    min-height: calc(100vh - 60px);
    border: solid 1px black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}


@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -16px;
    left: 0;
    background-color: rgb(111, 184, 243);
  
    animation-name: bar-hover-fade;
    animation-iteration-count: infinite;
    animation-duration: 0.9s;
    -webkit-transition: all 0.9s;
      -moz-transition: all 0.9s;
        -o-transition: all 0.9s;
            transition: all 0.9s;
    animation-direction: alternate;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}

/* Keyframes */

@keyframes fade-oblique {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  
  }
}

@keyframes bar-hover-fade {
  0% {
      transform: scaleX(0);
  }
  50% {
      transform: scaleX(1);
  }
  100% {
      transform: scaleX(0);
  }
}
@keyframes light {
  0% {
      background-color:#171515;
  }
  50% {
      background-color: aliceblue;
  }
  100% {
      background-color: white;
  }
}

@keyframes dark {
  0% {
      background-color:white;
  }
  50% {
      background-color: aliceblue;
  }
  100% {
      background-color:#171515;
  }
}

/* Ampoule */

.center-element {
  text-align: center;
}


#dark .ampoule {
  fill: white;
  width: 80px;  
  animation-name: eteindre;
    animation-duration: 5s;
    -webkit-transition: all 0.9s;
      -moz-transition: all 0.9s;
        -o-transition: all 0.9s;
            transition: all 0.9s;
}
#light .ampoule {
  width: 80px;
  fill: yellow;

  animation-name: allumage;
    animation-duration: 1s;
    -webkit-transition: all 0.9s;
      -moz-transition: all 0.9s;
        -o-transition: all 0.9s;
            transition: all 0.9s;
}

.ampoule_text {
  display: table;
  margin: auto; 
}

@keyframes allumage {
  0% {
    fill: yellow;
  }
  15% {
    fill: black;
  }
  25% {
    fill: yellow;
  }
  35% {
    fill: black;
  }
  40% {
    fill: yellow;
  }
  42% {
    fill: black;
  }
  45% {
    fill: yellow;
  }
  50% {
    fill: black;
  }
  100% {
    fill: yellow;
  }
}

@keyframes eteindre {
  0% {
    fill: yellow;
  }
  25% {
    fill: red;
  }
  50% {
    fill: rgb(240, 106, 106);
  }
  100% {
    fill: white;
  }
}

/* Description */
.description_grid > div > h1 {
  color:#1C84E5;
}
#light .description_grid > div > h1 {
  color:#104678;
}

.description_grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(66%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-left: 32px;
}
.description {
  /* background-color: red; */
  
  font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
  .description_grid {
    grid-template-columns: repeat(1, 100%);
  }

  .description {
    background-color: blue;
    padding: 1rem 0 1rem 1rem;
    margin-left: 24px;
    margin-right: 24px;
  }
}



/* PROJETS */

.wrapperProject {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 120px;
  /* grid-auto-rows: minmax(100px, auto); */
  background-color: red;
  overflow-x: scroll;
  grid-row: 1/1;
  padding: 2rem;

}

.one {
  /* grid-column: 1 / 3; */
  grid-row: 1/1;
  min-height: 50vh;
  max-height: 50vh;
  min-width: 35vw;
  max-width: 35vw;
  background-color: blue;
  border-radius: 30px;
  transition: transform .8s;
  scroll-behavior: smooth;
}

.one:hover {
transform: scale(1.1);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1C84E5;
}
